body, button, input, textarea, select {
    font-size: 100%;
    font-family: Papyrus, fantasy;
}

body {
    background-color: #15191d;
    color: #fff;
}

textarea {
    background-color: #212529;
    border: #15191d solid 1px;
    color: #fff;
    resize: none;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.controlGroup {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.controlGroup > * {
    margin-bottom: 1rem;
}